<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"

       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
                           http://www.springframework.org/schema/context  http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <import resource="classpath:/com/alexberemart/hattrickCore/context.xml"/>

    <!-- Allows us to use system properties as variables in this configuration
        file -->
    <bean
            class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="ignoreUnresolvablePlaceholders" value="true"/>
        <property name="order" value="0" />
        <property name="locations">
            <list>
                <value>classpath:com/alexberemart/jHattrick/jHattrick.properties</value>
            </list>
        </property>
    </bean>

    <bean id="jHattrickServices"
          class="com.alexberemart.jHattrick.services.jHattrickServices" />

    <bean id="hattrickProtectedResourcesURL" class="java.lang.String">
        <constructor-arg value="${hattrickProtectedResourcesURL}"/>
    </bean>

    <context:component-scan base-package="com.alexberemart"/>

</beans>